*{
	display: media;
	margin: 0;
	font-family: system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial;

}
nav{
	display: flex;
}
.left{
	width: 20%;
	background: #994040;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}

.left img{
	width: 180px;
	height: 140px;
	margin-top: 3px;
	margin-left: 3px;
	border-radius: 10px;
}

.right{
	width: 80%;
	height: 17vh;
	background: #AFA0A0;
	border-top-left-radius: 12.5px;
	border-bottom-left-radius: 25px;
	margin-left: 3px;
}

.right ul,li,a{
	background:#AFA0A0;
	display: flex;
	justify-content: center;
	column-gap: 175px;
	margin-top: 14px;
}

a{
	border-radius: 3px;
	background: #994040;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-top: 2px;
	color: white;
	font-family: "Brush Script MT";
	font-size: 25px;

}

.introduction{
	margin: 15px;
	text-align: center;
}

.introduction h1{
	text-align: center;
	font-family: "Helvetica Neue";
	font-size: 67px;
	color: whitesmoke;
}
.introduction p{
	margin: 20px;
	color: white;
	padding-bottom: 5px;
	font-family:"Century Gothic" ;
	padding-bottom: 265px;
}

.closet{
	margin: 7px;
}

.closet img{
	width: 250px;
	height: 70vh;
	border-radius: 8px;
	padding-left: 3px;
	padding-top: 3px;
}

.closet h2{
	font-size: 45px;
	background: #994040;
	border-radius: 8px;
	font-family: Forte;
	text-align: center;
	color: whitesmoke;
}

.catalogg h1{
	font-size: 67px;
	font-family: 'Segoe UI Black';
	text-align: center;
}

.catalogg p{
	padding-top: 15px;
	padding-bottom: 25px;
	padding-inline: 10px;
	text-align: center;
	background: #994040;
	border-radius: 12px;
	margin-bottom: 10px;
	font-family: Constantia;
	color: white;
}

.ABOUT{
	text-align: center;
	height: 100vh;
	padding-inline: 15px;
}

input{
	width: 100vh;
	display: block;
	margin-bottom: 15px;
	padding:10px 10px;
	border: none;
	border-radius: 10px;
}

form{
	justify-self: center;
	margin-top: 25px;
}

.ABOUT p{
	background: #994040;
	color: white;
	padding-bottom: 25px;
	padding-top: 25px;
	padding-inline: 50px;
	border-radius: 20px;
}

.feedback a{
	font-family: 'Bauhaus 93';
	background: white;
	color: black;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	justify-self: center;
	margin: 25px;
	margin-bottom: 10px;
	display: flex;
}

textarea{
	width: 95%;
	height: 200px;
	border: none;
	border-radius: 8px;
}

.feedback button{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	width: 68px;
	background: darkgreen;
	color: white;
	border: none;
	border-radius: 15px;
}

.Socialmedia p{
	font-size: 25px;
	text-align: center;
	margin: 15px;
	color: white;
}

footer{
	background: #994040;
	text-align: center;
	padding-top: 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	color: white;
	height: 25vh;
}

.btn{
	display: none;
}

@media(min-width:338px) and (max-width: 995px){

	.btn{
		display: block;
		justify-items: right;
	}

	.btn a{
		font-size: 20px;
		background: #976D6D;
		color: white;
		text-align: center;
		margin-bottom: 2px;
		margin-right: 3px;
	}

.left{
	width:100%;
	height: 20vh;
	border-bottom-right-radius: 5px;
	border-top-right-radius:5px;
}

.left img{
	width: 92%;
	height: 19vh;
	margin-top: 5px;
	margin-left: 15px;
	border-radius: 5px;
}

.right{
	display: none;
}
.introduction h1{
	font-size:35px;
}

.closet img{
	width: 80%;
	height: 30vh;
	margin-top: 5px;
	margin-bottom: 6px;
	margin-left: 35px;
}
.catalogg h1{
	font-size: 33px;
}
.catalogg h2{
	font-size: 35px;
}
.feedback input{
	width: 85%;
	margin-bottom: 8px;
	padding: 8px 8px;
	margin-left: 6px;
}

textarea{
	margin-left: 6px;
}

form{
	margin-top: 2px;
}

.Socialmedia p{
	font-size: 20px;
	background: #994040;
	border-radius: 10px;
}

.feedback a{
	justify-self: left;
	font-size: 25px;
	margin-bottom: 7px;
	border-radius: 6px;
}

footer{
	height: 50vh;
}

}